@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


a{
  text-decoration: none;
}
ul{
  list-style:none;
  margin: 0;
  padding: 0;
}

.hexagon {
  width: 120px;
  height: 104px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background-color: #e5e7eb; /* Tailwind's gray-200 for fallback */
  transition: transform 0.3s;
}

.hexagon:hover {
  transform: scale(1.1); /* Optional: Zoom effect on hover */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}